### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/
.mvn/

# "temporary" build files
/**/target

/backend/src/main/resources/config/application-secrets.properties
/backend/src/main/resources/database/database.sql
/.env
