<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/layout.html::layout-head"></head>
<style>
    .login-form {
        width: 22rem;
        margin: 1rem auto 0;
    }

    @media (max-width: 500px) {
        .login-form {
            min-width: calc(100vw - 1rem);
        }
    }
</style>
<body>
<div class="container">
  <div class="card login-form">
    <img src="/assets/kitm-logo.png" class="card-img-top" alt="KITM">
    <div class="card-body">
      <div th:unless="${registerErrors}">
        <h5 class="card-title">KITM Library</h5>
        <p class="card-text">Here you can register as an official library user.</p>
      </div>
      <div class="alert alert-danger" role="alert" th:if="${registerErrors}">
        Could not register, please check provided data and try again.
      </div>
      <form method="post" th:action="@{/register}">
        <div class="form-group mb-3">
          <label for="username">Name</label>
          <input name="name" type="text" class="form-control" id="name" placeholder="Name" required
                 th:classappend="${Util.className(registerErrors, 'name')}">
          <div class="invalid-feedback" th:if="${registerErrors != null && registerErrors.name != null}"
               th:text="${registerErrors.name}"></div>
        </div>
        <div class="form-group mb-3">
          <label for="username">E-mail</label>
          <input name="email" type="email" class="form-control" id="email" placeholder="E-mail" required
                 th:classappend="${Util.className(registerErrors, 'email')}">
          <div class="invalid-feedback" th:if="${registerErrors != null && registerErrors.email != null}"
               th:text="${registerErrors.email}"></div>
        </div>
        <div class="form-group mb-3">
          <label for="username">Username</label>
          <input name="username" type="text" class="form-control" id="username" placeholder="Username" required
                 th:classappend="${Util.className(registerErrors, 'username')}">
          <div class="invalid-feedback" th:if="${registerErrors != null && registerErrors.username != null}"
               th:text="${registerErrors.username}"></div>
        </div>
        <div class="form-group mb-3">
          <label for="password">Password</label>
          <input name="password" type="password" class="form-control" id="password" placeholder="Password" required
                 th:classappend="${Util.className(registerErrors, 'password')}">
          <div class="invalid-feedback" th:if="${registerErrors != null && registerErrors.password != null}"
               th:text="${registerErrors.password}"></div>
        </div>
        <div class="form-group mb-3">
          <label for="password">Confirm password</label>
          <input name="confirmPassword" type="password" class="form-control" id="confirmPassword"
                 placeholder="Confirm password" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <a type="button" class="btn btn-success" th:href="@{/login}">Login</a>
      </form>
    </div>
  </div>
</div>
</body>
</html>
